/* For Large Screen */
@media screen and (min-width: 1200px) {
    .container{
        /* padding-top: 10em; */
        /* padding-bottom: auto; */
        max-width: 80%;
        min-height: 60vh;
        /* display: table-cell;
        vertical-align: middle; */
    }

    #card-wrapper{
        width: 60vw;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #text-wrapper{
        box-sizing: border-box;
        padding: 10px;
        flex: 1;
        order: 1;
    }

    #text-wrapper h1, p{
        text-align: left;
        padding: auto;
        max-width: 80%;
        margin: auto;
        object-fit: contain;

    }

    h1{
        font-size: 1.5em;
    }

    p {
        font-size: 0.8em;
        line-height: 1.6em;
    }

    #image-wrapper{
        flex: 1;
        order: 2;
        max-height: 40vh;
    }

    img{
        height: 100%;
        width: auto;
        overflow: hidden;
    }

    #text-wrapper{
        max-height: 40vh;

    }

    .container {
        border-radius: 10px;
    }

    #image-wrapper, img {
        border-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }


    ul{
        padding-left: 2em;
        padding-right: 2em;
        gap: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    li{
        font-size: 0.6em;       
    }


}


