*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    height: 100%;
    width: 100%;
}

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Lexend Deca', sans-serif; */

.container{
    padding-top: 100px;
    padding-bottom: 100px;
}

#card-wrapper{
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    width: 90%;
    margin: auto;
}

#image-wrapper, img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#image-wrapper {
    background-color: hsl(277, 64%, 61%);    
}


img {
    width: 100%;
    height: auto;
    opacity: 0.3;
}

#text-wrapper {
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    padding-bottom: 1.2em;
    padding-top: 1.2em;
}

span{
    color: hsl(277, 64%, 61%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1em;
    line-height: 1.8em;
}

li {
    font-size: 15px;
}

ul {
    list-style: none;
    padding-top: 2.5em;
    padding-bottom: 2em;
}

li {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    margin-bottom: 2.5em;
}

li strong {
    color: hsl(0, 0%, 100%);
    display: block;
    font-size: 1.5em;
    padding: 0.5em;
}



