:root{
    --container-width: 80%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}



body {
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    height: 100%;
    width: 100%;
}

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Lexend Deca', sans-serif; */

.container{
    max-width: var(--container-width);
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
}

#card-wrapper{
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

#image-wrapper, img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#image-wrapper {
    background-color: hsl(277, 64%, 61%);  
    background-size: auto;
    max-width: 428px;
    height: auto;
}


img {
    height: auto;
    width: 100%;
    mix-blend-mode: multiply;  
    
}

#text-wrapper {
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 1.2em;
    padding-top: 1.2em;
}

span{
    color: hsl(277, 64%, 61%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.9em;
    line-height: 1.8em;
}

ul {
    display: inline-block;
    list-style: none;
    padding-top: 2.5em;
    padding-bottom: 2em;
}

li {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.6);
    margin-bottom: 2.5em;
}

li strong {
    color: hsl(0, 0%, 100%);
    display: block;
    font-size: 1.5em;
    padding: 0.5em;
}


/* Slightly bigger mobile device */
@media screen and (min-width: 570px) {
    .container {
        max-width: 456px; /* 80% (see with of .container) of 570px */
    }
}




/* For Large Screen */
@media screen and (min-width: 1200px) {
    .container{
        max-width: 80%;
        /* display: table-cell;
        vertical-align: middle; */
    }

    #card-wrapper{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #text-wrapper{
        flex: 1;
        order: 1;
    }

    #text-wrapper h1, p{
        text-align: left;
        padding: auto;
        max-width: 80%;
        margin: auto;

    }

    h1{
        font-size: 1.5em;
    }

    p {
        font-size: 0.8em;
        line-height: 1.6em;
    }

    #image-wrapper{
        flex: 1;
        order: 2;
        max-height: 40vh;
    }

    #text-wrapper{
        max-height: 40vh;

    }

    .container {
        border-radius: 10px;
    }

    #image-wrapper, img {
        border-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }


    ul{
        padding-left: 2em;
        padding-right: 2em;
        gap: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    li{
        font-size: 0.6em;       
    }


}


