:root{
    --container-width: 80%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    height: 100%;
    width: 100%;
    
}

.container{
    max-width: var(--container-width);
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    
}

#card-wrapper{
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    width: 85%;
    margin: auto;
}

#image-wrapper{
    background-image: url('images/image-header-mobile.jpg');
    background-color: hsl(277, 64%, 61%);
    height: 35vh;
    /* max-width: 456px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-blend-mode: multiply;  
}

#text-wrapper {
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 1.2em;
    padding-top: 1.2em;
}

span{
    color: hsl(277, 64%, 61%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.9em;
    line-height: 1.8em;
}

ul {
    display: inline-block;
    list-style: none;
    padding-top: 2.5em;
    padding-bottom: 2em;
}

li {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.6);
    margin-bottom: 2.5em;
}

li strong {
    color: hsl(0, 0%, 100%);
    display: block;
    font-size: 1.5em;
    padding: 0.5em;
}


/* Slightly bigger mobile device */
@media screen and (min-width: 570px) {
    .container {
        max-width: 456px; /* 80% (see with of .container) of 570px */
    }

    h1{
        font-size: 1.7em;
    }


}

@media screen and (min-width: 1200px) {
    body{
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh;
        width: 100%;
    }

    .container{
        width: 85vw;
        max-width: 1152px;  /* 80% of 1440px (stated desktop size in the starter file) */
        padding: 0;
    }

    #card-wrapper{
        min-height: 40vh;
        max-height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #image-wrapper {
        order: 1;
        border-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #text-wrapper {
        order: 0;
        text-align: left;
        padding-right: 1.5em;
        padding-left: 1.5em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    h1{
        font-size: 2em;
    }

    ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
    }

    
}


